extends ../layout/index

block content
  .container.mt-5
    .row
      .col-md-8.offset-md-2
        .card.shadow
          .card-body
            h1.text-center.mb-4 Bienvenido a mi Portafolio
            p.text-center Soy un estudiante de programación web. Explora mis habilidades, experiencia y proyectos destacados.
            a.btn.btn-primary.mt-3(href="/acerca") Conóceme más